html, body {
  height: 100%;
}

body {
  width: 100%;
  background: #2a5c7d;
  overflow: hidden;
}

.app,
.app-page,
.map-body,
.note-body,
.video-body,
.tenant-body,
.public-body {
  height: 100%;
}

.app {
  width: 500%;
  position: absolute;
  left: 0;
  top: 0;
}

.app-page {
  width: 20%;
  float: left;
  position: relative;
  overflow: hidden;
}

.app-container {
  height: 100%;
  overflow: hidden;
}
.app-container >div{
  overflow: hidden;
}

.page-header {
  width: 100%;
  height: 50px;
  font-weight: 600;
  background: #093c5b;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  .logo {
    float: left;
    line-height: 50px;
    text-indent: 70px;
    font-size: 20px;
    color: #e9b700;
    position: relative;
  }
  .logo:after {
    content: ' ';
    width: 40px;
    height: 40px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 20px;
    top: 5px;
  }
  .nav {
    float: left;
    padding-left: 60px;
    position: relative;
    a {
      float: left;
      width: 120px;
      line-height: 50px;
      text-align: center;
      font-size: 14px;
      color: #bfcfe8;
      position: relative;
    }
    a:hover {
      color: #56bfec;
    }
    a:hover .home {
      background-image: url(../img/icon_home.png);
    }
    i {
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: left center;
      position: absolute;
      left: 10px;
      top: 17px;
    }
    .home {
      background-image: url(../img/icon_home2.png);
    }
  }
  .user {
    float: right;
    padding: 0 30px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    background-image: url(../img/bg_user.png);
    background-repeat: no-repeat;
    background-position: left center;
  }
}

.page-home .app-container,
.page-note .app-container,
.page-public .app-container,
.page-tenant .app-container,
.page-video .app-container {
  padding-top: 50px;
  height: -webkit-calc(100% - 50px);
  height: -moz-calc(100% - 50px);
  height: calc(100% - 50px);
  position: relative;
}