html, body {
  height: 100%;
}

body {
  width: 100%;
  background: #2a5c7d;
  overflow: hidden;
}

.app {
  width: 500%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.app-page {
  width: 20%;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}

/*nav-1*/

.page-wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.page-hd {
  width: 100%;
  height: 50px;
  font-weight: 600;
  background: #093c5b;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  .logo {
    float: left;
    line-height: 50px;
    text-indent: 70px;
    font-size: 20px;
    color: #e9b700;
    cursor: pointer;
    position: relative;
  }
  .logo:after {
    content: ' ';
    width: 40px;
    height: 40px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 20px;
    top: 5px;
  }
  .nav {
    float: left;
    padding-left: 60px;
    position: relative;
    a {
      float: left;
      width: 120px;
      line-height: 50px;
      text-align: center;
      font-size: 14px;
      color: #bfcfe8;
      position: relative;
    }
    a:hover {
      color: #56bfec;
    }
    a:hover .icon-home2 {
      background-position: 0 -60px;
    }
    i {
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      position: absolute;
      left: 10px;
      top: 17px;
    }
  }
  .user {
    float: right;
    padding: 0 30px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    position: relative;
  }
  .icon-user {
    position: absolute;
    left: 0;
    top: 12px
  }
}

/*nav-2*/

.ui-header {
  width: 100%;
  height: 88px;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

.ui-title a{
  display: inline-block;
  line-height: 88px;
  font-size: 34px;
  font-weight: 600;
  color: #fff;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(40, 217, 255, 1)), to(rgba(40, 172, 255, 1)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ui-title {
  height: 88px;
  text-align: center;
}

.weather {
  position: absolute;
  left: 0;
  top: 0;

  .location,
  .degree {
    float: left;
    margin-left: 30px;
  }
  .icon {
    float: left;
    width: 50px;
    height: 88px;
    background-image: url(../img/weather.png);
    background-repeat: repeat-x;
    background-position: 0 0;
  }
  .text {
    float: left;
    line-height: 88px;
    font-size: 22px;
    color: #fff;
  }
  .degree {
    .icon {
      background-position: 50px 0;
    }
  }
}

.time {
  position: absolute;
  right: 30px;
  top: 0;
  span {
    float: left;
    color: #00c4ff;
    font-size: 22px;
    font-weight: 600;
  }
  &.active {
    span {
      color: red;
    }
  }

  .time-wrap {
    line-height: 88px;
  }
  .tick {
    padding-left: 10px;
  }
}

.btn-back {
  background-color: #4485f2;
  border-radius: 22px;
  position: absolute;
  left: 100px;
  top: 22px;
  a {
    display: block;
    width: 100px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    color: #fff;
  }
}