html, body {
  height: 100%;
}

body {
  width: 100%;
  background: #2a5c7d;
  overflow: hidden;
}

.app {
  width: 500%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.app-page {
  width: 20%;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}

.page-wrap {
  padding-top: 50px;
  height: calc(100% - 50px);
  position: relative;
  overflow: hidden;
}

.page-hd {
  width: 100%;
  height: 50px;
  font-weight: 600;
  background: #093c5b;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  .logo {
    float: left;
    line-height: 50px;
    text-indent: 70px;
    font-size: 20px;
    color: #e9b700;
    cursor: pointer;
    position: relative;
  }
  .logo:after {
    content: ' ';
    width: 40px;
    height: 40px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 20px;
    top: 5px;
  }
  .nav {
    float: left;
    padding-left: 60px;
    position: relative;
    a {
      float: left;
      width: 120px;
      line-height: 50px;
      text-align: center;
      font-size: 14px;
      color: #bfcfe8;
      position: relative;
    }
    a:hover {
      color: #56bfec;
    }
    a:hover .icon-home2 {
      background-position: 0px 0;
    }
    i {
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      position: absolute;
      left: 10px;
      top: 17px;
    }
  }
  .user {
    float: right;
    padding: 0 30px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    position: relative;
  }
  .icon-user {
    position: absolute;
    left: 0;
    top: 12px
  }
}

.page-bd {
  height: 100%;
  position: relative;
  overflow: hidden;
}