.home-bd {
  height: 100%;
  overflow: hidden;
  .view {
    background: #0f456b;
    position: absolute;
  }
  .v0 {
    width: 44%;
    height: 67%;
    left: 50%;
    top: 1%;
    transform: translateX(-50%);
    transition: ease all .2s;
  }

  .v1 {
    width: 26%;
    height: 33%;
    left: 1%;
    top: 1%;
  }

  .v2 {
    width: 26%;
    height: 33%;
    left: 1%;
    top: 35%
  }

  .v3 {
    width: 26%;
    height: 30%;
    left: 1%;
    right: auto;
    top: auto;
    bottom: 1%
  }

  .v4 {
    width: 26%;
    height: 33%;
    left: auto;
    right: 1%;
    top: 1%
  }

  .v5 {
    width: 26%;
    height: 33%;
    left: auto;
    right: 1%;
    top: 35%
  }

  .v6 {
    width: 26%;
    height: 30%;
    left: auto;
    right: 1%;
    top: auto;
    bottom: 1%
  }

  .v7 {
    width: 21.5%;
    height: 30%;
    top: auto;
    left: 28%;
    right: auto;
    bottom: 1%
  }

  .v8 {
    width: 21.5%;
    height: 30%;
    top: auto;
    left: auto;
    right: 28%;
    bottom: 1%
  }
}

#svg {
  width: 600px;
  height: 400px;
  cursor: pointer;
  margin: 0 auto;
}
